# Environnement virtuel Python
.venv/
venv/

# Fichiers de compilation dbt
target/
dbt_packages/
logs/

# SÉCURITÉ : Clés privées et profils
*.p8
*.pub
*.yml.local
profiles.yml
*.pub
rsa_key*
generer_cles.py
data/

snapshots/



# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
